/* Sticky footer styles
   -------------------------------------------------- */
html,
body {
    height: 100%;
    line-height: 22pt;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#page-content-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin-bottom: -102px;
}

/* Set the fixed height of the footer here */
#footer {
    padding-top: 10px;
    height: 200px;
    background-color: #373b41;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Custom page CSS
   -------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
}
.container .credit {
    margin: 10px 0;
}

